@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">@Model.Title</h1>
<h2 class="text-danger">@Model.Message</h2>

<a class="btn btn-block btn-outline-primary" href="@Model.href">بازگشت</a>
